resources/stepFunctions/stepFunction.yml
Comment: A step function to send reminder emails after 24 hrs
StartAt: addEmailToDB
States:
    addEmailToDB:
        Type: Task
        Resource: arn:aws:states:::lambda:invoke
        Parameters:
            FunctionName: !GetAtt addSignup.Arn
            Payload:
                Input.$: '$'
        Next: wait for 24hr
    wait for 24hr:
        Type: Wait
        Seconds: 86400
        Next: Read DB
    Read DB:
        Type: Task
        Resource: arn:aws:states:::lambda:invoke
        Parameters:
            FunctionName: !GetAtt getSignup.Arn
            Payload:
                Input.$: '$'
        Next: has worked
    has worked:
        Type: Choice
        Choices:
            - Variable: '$.Payload.worked'
              StringEquals: 'true'
              Next: close
        Default: send reminder email
    send reminder email:
        Type: Task
        Resource: arn:aws:states:::lambda:invoke
        Parameters:
            FunctionName: !GetAtt sendReminder.Arn
            Payload:
                Input.$: '$'
        Next: close
    close:
        Type: Succeed